<header>
    <nav id="nav" class="navbar navbar-expand-md">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Node Bean</a>
        </div>
        <ul style="width:100%" class="nav navbar-nav nav-fill">
            <li class="nav-item"> <a class="nav-link" href="/bills/in">Bills In</a></li>
            <li class="nav-item"> <a class="nav-link" href="/bills/out">Bills Out</a></li>
            <li class="nav-item"> <a class="nav-link" href="/bill">Bills Add</a></li>
            <li class="nav-item"> <a class="nav-link" href="/customers">Customers</a></li>
            <li class="nav-item"> <a class="nav-link" href="/providers">Providers</a></li>
        </ul>
    </nav>
</header>