<select id="customer_select" class="form-control">
    <option id="customer_none" value=""></option>
	<% for(i in customers) { %>
	<option id="<%= customers[i]._id %>" value="<%= customers[i]._id %>">
		<%= customers[i].name %>
	</option>
	<% } %>
</select>