<select id="selectProvider" class="form-control">
    <option id="provider_none" value=""></option>
    <% for(i in providers) { %>
	<option id="<%= providers[i]._id %>" value="<%= providers[i]._id %>">
		<%= providers[i].name %>
	</option>
    <% } %>
</select>