<select class="form-control" id="providerChoice">
	<option selected></option>
	<% for(i in providers) { %>
	<option value="<%= providers[i]._id %>">
		<%= providers[i].name %>
	</option>
<% } %></select>