<select class="form-control" id="customerChoice">
	<option selected></option>
	<% for(i in customers) { %>
	<option value="<%= customers[i]._id %>">
		<%= customers[i].name %>
	</option>
	<% } %>
</select>