<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<ul>
    <% for (bill in bills) { %><li><%= bill.designation %></li><% } %>
</ul>
</body>
</html>
