<%- include partials/head.ejs %>
<%- include partials/header.ejs %>
<div clas="container"><a class="btn btn-primary" href="/add_customer">Add Customer</a></div>
<ul>
    <% for (customer of customers) { %><li><%= customer.name %></li><% } %>
</ul>
<%- include partials/footer.ejs %>
