<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<ul>
    <% for (customer of customers) { %><li><%= customer.name %></li><% } %>
</ul>
</body>
</html>
