<%- include partials/head.ejs %>
<%- include partials/header.ejs %>
<div clas="container"><a class="btn btn-primary" href="/add_provider">Add Provider</a></div>
<ul>
    <% for (provider of providers) { %><li><%= provider.name %></li><% } %>
</ul>
<%- include partials/footer.ejs %>